RewriteEngine On

RewriteRule "(^|/)\.(?!well-known/)" - [F]

RewriteRule ^t&c/?$ /terms-and-conditions [R=301,L,NC]
RewriteRule ^t&c\.html$ /terms-and-conditions [R=301,L,NC]
RewriteRule ^Refund_policy/?$ /refund-policy [R=301,L,NC]
RewriteRule ^Refund_policy\.html$ /refund-policy [R=301,L,NC]
RewriteRule ^privacy_policy/?$ /privacy-policy [R=301,L,NC]
RewriteRule ^privacy_policy\.html$ /privacy-policy [R=301,L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
